<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-5">
        <!-- <img src="../../assets/images/student_taking_a_college_exam.jpg" class="img-fluid" alt="Responsive image"> -->
        <h4>Welcome to TechDigital Learn App</h4>
        <h6>To get acces to exams please enter your credentials</h6>
        <form action="/login" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="email" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
    </div>
  </div>