<nav class="navbar navbar-expand-lg navbar-dark bg-dark masthead">
    <a class="navbar-brand" routerLink="/">
      <img class="main_logo d-inline-block align-top" src="../../assets/images/exam_logo.png"  alt="logo" />
    </a>

  
    <div class=" navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/register">Register</a>
          <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
  </nav>